snippet scriptst
	<script type="${1}" src="${0}"></script>

snippet node-vue
	<script src="node_modules/vue/dist/vue.js"></script>

snippet stype
	<stype rel="stylesheet" type="text/css">
	  ${0}
	</style>
