snippet p
	program ${1};
	${0}
snippet pr
	procedure ${1};
	begin
		${0}
	end;
snippet fpc
	{$mode objfpc}{$H+}{$J-}
snippet u
	uses
		${0};
snippet t
	type
		${0}
snippet b.
	begin
		${0}
	end.
snippet b
	begin
		${0}
	end;
snippet v
	var
		${1}: ${2};
		${0}
snippet ft
	for ${1} to ${2} do
	begin
		${0}
	end;
snippet fi
	for ${1} in ${2} do
	begin
		${0}
	end;
snippet cls
	class${1}
		${0}
	end;
snippet :
	${1}: ${2};
snippet try
	try
		${1}
	finally
		${2}
	end;
