snippet quote
	{{{
	${0}
	}}}

snippet h1
	= ${0} =

snippet h2
	== ${0} ==

snippet h3
	=== ${0} ===

snippet h4
	==== ${0} ====

snippet h5
	===== ${0} =====

snippet h6
	====== ${0} ======

snippet ll "Simple wiki link without descriptions"
	[[${0}]]

snippet ld "wiki link with description"
	[[${1:link}|${2:description}]]
